@import "./_variables";
@import "../components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./_bootswatch";

body{
    // background-color: #f0f0f0;
    font-family: 'Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif'
}

img{
    // max-width: 100%;
}

.bg{
    &-gray{
        background-color: $kbd-bg
    }
    &-white{
        background-color: $kbd-color
    }
}

.text{
    &-strong{
        font-weight: 700;
        font-size: 18px;
        color: $brand-primary;
        position: relative;
        top:1px;
        padding: 0 4px;
    }
}

.pad{
    padding: 15px;
    &-v{
        padding-left: 15px;
        padding-right: 15px;
    }
    &-h{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.no-gap{
    &.row{
        &>[class*="col-"]{
            padding-left: 0;
            padding-right: 0;
            margin-left: -1px;
        }
        .thumbnail {
            margin-bottom: -1px;
        }
    }
    margin: 0
}

.section{
    padding: 40px;
}

.about{
    &-section{
        padding: 30px 0;
        .btn-lg{
            
        }
    }
}

.site{
    &-topbar{
        background-color: #333;
        // line-height: 36px;
        // color: #b0b0b0
    }
    &-footer{
        background-color: #fff;
        // border-top: 1px solid #eee;
        // height: 300px;
        padding: 30px 0 20px;
        margin-top: 50px;

        .links{
            margin-top: 20px;
            border-top: 1px solid #eee;
            padding: 20px 0;
            font-size: 0;
            &>a{
                font-size: 13px;
                // float: left;
                display: inline-block;
                line-height: 1em;
                padding:0 10px;
                border-right: 1px solid #ccc
            }
        }
    }
}

.announcement{
    padding: 10px 0;
    color: #ccc;
    &>.iconfont{
        margin-right: 5px;
        position: relative;
        top:1px
    }
    a{
        color: #eee
    }
}

.banner{
    background: $brand-primary url(../img/banner.png) center no-repeat;
    // background-color: #333;
    height: 700px;
}

.feature{
    &-title{
        padding: 20px 0 20px 0;
        .more{
            cursor:pointer;
            font-size: 16px;
            padding-top: 10px;
            float: right;
            &>.iconfont{
                font-size: 24px;
                font-weight: 700;
                position: relative;
                top:2px;
            }
        }
    }
    &-box{
        // padding: 0 15px;
    }
}
